/azure-cosmos-cassandra-service/bin/
/driver-core/dependency-reduced-pom.xml
cobertura-history/
obj/
target/
testing/
.classpath
.idea/
.java-version
.settings
.project
.vscode
doc
docs
notes
.DS_Store
*.DotSettings
*.iml
*.sln
*.user
