/azure-cosmosdb-cassandra-service/bin/
/driver-core/dependency-reduced-pom.xml
cobertura-history/
obj/
target/
testing/
.classpath
.idea/
.java-version
.settings
.project
doc
docs
notes
.DS_Store
*.iml
*.user
